ul, li, div {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

body {
	background: #ecf0f1;
}

#border {
	border: 1px solid #bdc3c7;
	width: 640px;
	background: black;
	margin: 20px auto;
}

li {
  width: 8px;
  height: 8px;
  float: left;
  list-style: none;
}

ul:after, #border:after {
  content: "";
  clear: both;
  display: table;
}

.snake {
  background: green;
}

.apple {
  background: red;
}
